<%if @lessons.blank?%>
<p> There are no lessons to Take. </p>
<%else%>
<%@lessons.each do |l|%>
  <%= render :partial=> "students/lesson", :locals => {:lesson => l},  :layout => false%>
<% end %>
<%end%>
