<%if @lessons.blank?%>
	<p> There are no lessons to take. </p>
<%else%>
<div class="col-xs-6">	
	<%@lessons.get_by_status('scheduled').each_with_index do |l, i|%>
		<% if i == 0 %>
			<h3> Scheduled </h3>
		<%end%>
		<%= render :partial=> "students/lesson", :locals => {:lesson => l},  :layout => false%>
	<% end %>
	<%@lessons.get_by_status('recently_taken').each_with_index do |l, i|%>
		<% if i == 0 %>
			<h3> Recently Taken </h3>
		<%end%>
  		<%= render :partial=> "students/lesson", :locals => {:lesson => l},  :layout => false%>
	<% end %>
	<%@lessons.get_by_status('missed').each_with_index do |l, i|%>
		<% if i == 0 %>
			<h3> Missed </h3>
		<%end%>
  		<%= render :partial=> "students/lesson", :locals => {:lesson => l},  :layout => false%>
	<% end %>
	<%@lessons.get_by_status('cancelled').each_with_index do |l, i|%>
		<% if i == 0 %>
			<h3> Cancelled </h3>
		<%end%>
  		<%= render :partial=> "students/lesson", :locals => {:lesson => l, :status => 'cancelled'},  :layout => false%>
	<% end %>
	<a href="#">Load all past classes... </a>
</div>
<div class="col-xs-6"></div>
<%end%>


