<h4> The goal of this calendar is to show when students have signed up for classes in the future.
It also acts as a tool to edit your weekly schedule. If no student has signed up for a slot, you may
change  the schedule as needed. If a student has signed up for the slot, request cancellation.
</h4>
<div id="calendar"></div>

