<!-- Offers all classes availble in system. Can view by teachers, service type, filter by levels --!>

<h3> Filter Options </h3>
<label for="start_time">Start Time</label> <select name="start_time" class="start_time"></select>
<label for="end_time">End Time</label> <select name="end_time" class="end_time"></select>
<label for="skill_level">Skill Level</label> <select name="skill_level" class="skill_level"></select>
<label for="language">Language</label> <select name="language" class="language"></select>
<label for="class_type">Class Type</label><select name="class_type" class="class_type"></select>

<h3> List of Teachers </h3>
<%@teachers.each do |t|%>
	<%= render :partial=> "users/teacher", :locals => {:teacher => t, :page => 'search_lessons'},  :layout => false%>
	
<%end%>

                 