<h1>Listing time_slots</h1>


<% @time_slots.each do |time_slot| %>
		<%= render :partial=> "time_slots/time_slot", :locals => {:time_slot => time_slot},  :layout => false%>
<br />
<% end %>

<br />

<%= link_to 'New Time slot', new_time_slot_path %>
