Welcome! <br />

<%if @teacher %>
<a href="teacher/schedule">Schedule</a> <br />
<a href="users">Profile</a> <br />
<a href="teacher/services">Services</a> <br />
<%else%>
<a href="student/favorite_teachers">Favorite Teachers</a> <br />
<a href="student/lessons">Lessons Page</a> <br />
<a href="users">Profile</a> <br />
<a href="student/search">Browse Classes</a> <br />
<%end%>

<script>
  var referredPage = document.referrer.split('/');
  referredPage = referredPage[referredPage.length-1];
  if (referredPage == 'sign_in') {
    $.ajax({url: '/update_online_status', type: 'GET', data: {'status': true}, async: false,
            failure: function() {
               alert('failed');  
            },
           success: function() {
           }});
  }
  
</script>
