
<select class="login_select"> 
<% User.all.each do |u| %>
  <option value="<%=u.id%>"> <%=u.last_name%> , <%=u.role%> </option>
  <%end%>
</select>
<button class="login"> Login</button>

<script>
  $(function() {
    $('.login').click( function() {
      var select_val = $('.login_select').val();

         window.location.href = "/home?uid=" + select_val; 
      
      });
   
  alert('yo');

  });
  
</script>