<!DOCTYPE html>
<html>
<head>
  <title>Elp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://steady-box-12-181649.use1-2.nitrousbox.com:9292/faye.js" %>
  <%= csrf_meta_tags %>
      <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
</head>
<body>
 <div class="header">
  <b><ul>
  <li><a href="/">Logout</a></li>
  <li><a href="/home">Home</a></li>
  </ul>
  </b> 
  </div>

<%= yield %>

<div class="footer">
  <p> this is the footer</p>
</div>
  
</body>
</html>
